<div class="col-12">
    <div class="row">
      <div class="">
        <form class="mt-5 mx-5" [formGroup]="changePassForm" (ngSubmit)="ChangePassword()">
          <div class="alert alert-danger mt-2 d-flex justify-content-center" role="alert" *ngIf="message!==''"> {{message}} </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" formControlName="email" readonly required>
          </div>
          <div class="form-group">
            <label for="inputnewpassword">Old Password</label>
            <input type="password" class="form-control"  placeholder="Old Password" formControlName="oldPassword" required>
          </div>
          <div class="form-group">
            <label for="inputnewpassword">New Password</label>
            <input type="password" class="form-control"  placeholder="New Password" formControlName="newPassword" required>
          </div>
          <div class="form-group">
            <label for="inputnewpassword">Confirm Password</label>
            <input type="password" class="form-control"  placeholder="Confirm Password" formControlName="confirmPassword" required>
          </div>
          <button type="submit" class="btn btn-danger mr-4 mt-4" [disabled]="!changePassForm.valid"> {{updateBtn}} </button>
          <!-- <button type="reset" class="btn btn-secondary mt-4"  (click)="changePassForm.reset()">Reset</button> -->
        </form>
      </div>
    </div>
  </div>