<div class="col-sm-12 col-md-12 mt-5 text-center w-auto" *ngIf="showTable">
    <div class="alert alert-info col-sm-6 ml-5 mt-2" role="alert" *ngIf="message!==''" > {{message}}</div>
    <!--Table-->
    <p class=" bg-dark text-white p-2">List of Requesters</p>
    <table class="table">
    <thead>
     <tr>
      <th scope="col">Requester ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
     </tr>
    </thead>
    <tbody>
     <tr *ngFor="let item of requesterData">
      <th scope="row">{{item.r_login_id}}</th>
      <td>{{item.r_name}}</td>
      <td>{{item.r_email}}</td>
      <td>
          <button class="btn btn-info" (click)="viewRequester(item.r_login_id)" value="View"> <i class="fas fa-pen"></i></button>
          <button class="btn btn-secondary m-1" (click)="deleteRequester(item.r_login_id)" value="Delete"><i class="far fa-trash-alt"></i></button>
    </td>
    </tr>
  
   </tbody>
   </table>

   <button class="btn btn-danger box" (click)="backToTable('addTable')">
    <i class="fas fa-plus fa-2x"></i>
  </button>
  </div>

  <div class="col-sm-12 col-md-12 mt-5  mx-3 jumbotron" *ngIf="doubleTable">
    <h3 class="text-center" *ngIf="editTable">Update Requester Details</h3>
    <h3 class="text-center" *ngIf="addTable">New Requester Details</h3>
    <div class="alert alert-warning text-center mt-2" role="alert" *ngIf="message!==''" > {{message}}</div>
    <form [formGroup]="requesterForm">
      <div class="form-group" *ngIf="editTable">
        <label for="r_login_id">Requester ID</label>
        <input type="text" class="form-control"  formControlName="r_login_id" required readonly>
        <i class="text-danger" *ngIf="r_login_id?.invalid && r_login_id?.touched">Please enter valid Requester Id</i>
      </div>
      <div class="form-group">
        <label for="r_name">Name</label>
        <input type="text" class="form-control"  formControlName="r_name" required>
        <i class="text-danger" *ngIf="r_name?.invalid && r_name?.touched">Please enter valid name</i>
      </div>
      <div class="form-group">
        <label for="r_email">Email</label>
        <input type="text" class="form-control"  formControlName="r_email" required>
        <i class="text-danger" *ngIf="r_email?.invalid && r_email?.touched">Please enter valid email</i>
      </div>
      <div class="form-group" *ngIf="addTable">
        <label for="r_password">Password</label>
        <input type="password" class="form-control"  formControlName="r_password" required>
        <i class="text-danger" *ngIf="r_password?.invalid && r_password?.touched">Please enter valid password</i>
      </div>
      <div class="text-center">
        <button  class="btn btn-danger"  [disabled]="requesterForm.invalid" (click)="updateRequester()" *ngIf="editTable"> {{updateBtn}} </button>
        <button  class="btn btn-success"  [disabled]="requesterForm.invalid" (click)="addRequester()" *ngIf="addTable"> {{addBtn}} </button>
        <button (click)="backToTable('showTable')" class="btn btn-secondary m-1">Close</button>
      </div>
    </form>
    <div>
      
  </div>