<!-- Top Navbar -->
<nav class="navbar navbar-dark fixed-top bg-dark p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-white" (click)="showTab('dashboard')">OSMS</a>
    <!-- <span class="navbar-text m-2 ">Customer's Happiness is our Aim</span> -->
   </nav>
   <!-- Side Bar -->
   <div class="container-fluid mb-5" style="margin-top:40px;">
    <div class="row">
     <nav class="col-sm-3 col-md-2 bg-light sidebar py-5 d-print-none">
      <div class="sidebar-sticky">
       <ul class="nav flex-column">
        <li class="nav-item">
         <a class="nav-link courser-pointer" (click)="showTab('dashboard')" [ngClass]="{'bg-dark text-white':dashboard}">
          <i class="fas fa-tachometer-alt"></i>
          Dashboard
         </a>
        </li>
        <li class="nav-item">
         <a class="nav-link courser-pointer" (click)="showTab('work')" [ngClass]="{'bg-dark text-white':work}">
          <i class="fab fa-accessible-icon"></i>
          Work Order
         </a>
        </li>
        <li class="nav-item">
         <a class="nav-link " (click)="showTab('requests')" [ngClass]="{'bg-dark text-white':requests}">
          <i class="fas fa-align-center"></i>
          Requests
         </a>
        </li>
        <li class="nav-item">
         <a class="nav-link courser-pointer" (click)="showTab('assets')" [ngClass]="{'bg-dark text-white':assets}">
          <i class="fas fa-database"></i>
          Assets
         </a>
        </li>
        <li class="nav-item">
         <a class="nav-link courser-pointer" (click)="showTab('technician')" [ngClass]="{'bg-dark text-white':technician}">
          <i class="fab fa-teamspeak"></i>
          Technician
         </a>
        </li>
        <li class="nav-item">
         <a class="nav-link courser-pointer" (click)="showTab('requester')" [ngClass]="{'bg-dark text-white':requester}">
          <i class="fas fa-users"></i>
          Requester
         </a>
        </li>
        <li class="nav-item">
         <a class="nav-link courser-pointer" (click)="showTab('sellreport')" [ngClass]="{'bg-dark text-white':sellreport}">
          <i class="fas fa-table"></i>
          Sell Report
         </a>
        </li>
        <li class="nav-item courser-pointer">
         <a class="nav-link" (click)="showTab('workreport')" [ngClass]="{'bg-dark text-white':workreport}">
          <i class="fas fa-table"></i>
          Work Report
         </a>
        </li>
        <li class="nav-item ">
         <a class="nav-link courser-pointer" (click)="showTab('changepass')" [ngClass]="{'bg-dark text-white':changepass}">
          <i class="fas fa-key"></i>
          Change Password
         </a>
        </li>
        <li class="nav-item ">
         <a class="nav-link courser-pointer" (click)="loginSerivce.logout()">
          <i class="fas fa-sign-out-alt"></i>
          Logout
         </a>
        </li>
       </ul>
      </div>
     </nav>
     <!--main content -->

     <!-- dashboard -->
     <div class="col-sm-9 col-md-10" *ngIf="dashboard">
        <div class="row mx-5 text-center">
          <div class="col-sm-4 mt-5">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
              <div class="card-header">Total Requests </div>
              <div class="card-body">
                <h4 class="card-title">
                  {{totalRequester}}
                </h4>
                <a class="btn text-white" (click)="showTab('requester')">View</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mt-5">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
              <div class="card-header">Assigned Work</div>
              <div class="card-body">
                <h4 class="card-title">
                  {{totalAssigned}}
                </h4>
                <a class="btn text-white" (click)="showTab('work')">View</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mt-5">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
              <div class="card-header">No. of Technician</div>
              <div class="card-body">
                <h4 class="card-title">
                  {{totalTechnician}}
                </h4>
                <a class="btn text-white" (click)="showTab('technician')">View</a>
              </div>
            </div>
          </div>
        </div>
        <div class="mx-5 mt-5 text-center">
          <!--Table-->
          <p class=" bg-dark text-white p-2">List of Requesters</p>
          <table class="table">
        <thead>
         <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
         </tr>
        </thead>
        <tbody>
         <tr *ngFor="let item of requesterData">
          <th scope="row">{{item.r_login_id}}</th>
          <td>{{item.r_name}}</td>
          <td>{{item.r_email}}</td>
        </tbody>
       </table>
        </div>
      </div>
      <!-- end dashboard -->


      <!-- requester  -->
      <div class="col-sm-9 col-md-10">
        <app-workorder *ngIf="work"   ></app-workorder>
        <app-assets *ngIf="assets"  ></app-assets>
        <app-changepassword *ngIf="changepass"  ></app-changepassword>
        <app-requester *ngIf="requester"  ></app-requester>
        <app-requests *ngIf="requests"  ></app-requests>
        <app-sellreport *ngIf="sellreport"  ></app-sellreport>
        <app-technician *ngIf="technician"  ></app-technician>
        <app-workreport *ngIf="workreport"  ></app-workreport>
      </div>
     <!-- end content -->

     </div>
    </div>
