<ng-container *ngIf="showTable">
  <div class="mt-5 text-center" >
    <p class=" bg-dark text-white p-2">Product/Parts Details</p>
    <div class="alert alert-warning mt-2 text-center" role="alert" *ngIf="message!==''" > {{message}}</div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product ID</th>
          <th scope="col">Name</th>
          <th scope="col">DOP</th>
          <th scope="col">Available</th>
          <th scope="col">Total</th>
          <th scope="col">Original Cost Each</th>
          <th scope="col">Selling Price Each</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of assetsData">
            <th scope="row">{{item.pid}}</th>
            <td>{{item.pname}}</td>
            <td>{{item.pdop}}</td>
            <td>{{item.pava}}</td>
            <td>{{item.ptotal}}</td>
            <td>{{item.poriginalcost | currency:"INR" }}</td>
            <td>{{item.psellingcost | currency:"INR" }}</td>
          <td>
              <button  class="btn btn-info" (click)="viewAssets(item.pid)"><i class="fas fa-pen"></i></button>
              <button  class="btn btn-secondary m-1" (click)="deleteAssets(item.pid)"><i class="far fa-trash-alt"></i></button>
              <button class="btn btn-success" (click)="issueAssets(item.pid)"><i class="fas fa-handshake"></i></button>

          </td>
        </tr>
    </tbody>
    </table>    
  <div>
    <button class="btn btn-danger box" (click)="backToTable('addTable')"><i class="fas fa-plus fa-2x"></i></button>
  </div>
  </div>
</ng-container>


<ng-container *ngIf="doubleAssetsTable">
  <!-- EDIT && ADD ASSETS -->
  <div class="mt-5  mx-3 jumbotron" >
    <h3 class="text-center" *ngIf="editTable">Update Product Details</h3>
    <h3 class="text-center" *ngIf="addTable">Add New Assets</h3>
    <div class="alert alert-primary mt-2 text-center" role="alert" *ngIf="message!==''" > {{message}}</div>
    <form [formGroup]="assetsForm">
      <div class="form-group">
        <label for="pid">Product ID</label>
        <input type="text" class="form-control" formControlName="pid" required readonly>
      </div>
      <div class="form-group">
        <label for="pname">Name</label>
        <input type="text" class="form-control" formControlName="pname" required>
        <i class="text-danger" *ngIf="pname?.invalid && pname?.touched">Please enter valid product name</i>
      </div>
      <div class="form-group">
        <label for="pdop">DOP</label>
        <input type="date" class="form-control" formControlName="pdop" required>
        <i class="text-danger" *ngIf="pdop?.invalid && pdop?.touched">Please enter valid product date</i>
      </div>
      <div class="form-group">
        <label for="pava">Available</label>
        <input type="text" class="form-control" formControlName="pava" required>
        <i class="text-danger" *ngIf="pava?.invalid && pava?.touched">Please enter valid pava</i>
      </div>
      <div class="form-group">
        <label for="ptotal">Total</label>
        <input type="text" class="form-control" formControlName="ptotal" required>
        <i class="text-danger" *ngIf="ptotal?.invalid && ptotal?.touched">Please enter valid product total amount</i>
      </div>
      <div class="form-group">
        <label for="poriginalcost">Original Cost Each</label>
        <input type="text" class="form-control" formControlName="poriginalcost" required>
        <i class="text-danger" *ngIf="poriginalcost?.invalid && poriginalcost?.touched">Please enter valid cost</i>
      </div>
      <div class="form-group">
        <label for="pava">Selling Price Each</label>
        <input type="text" class="form-control" formControlName="psellingcost" required>
        <i class="text-danger" *ngIf="psellingcost?.invalid && psellingcost?.touched">Please enter valid selling cost</i>
      </div>
      <div class="text-center">
        <button  [disabled]="!assetsForm.valid" class="btn btn-danger mx-1" (click)="updateAssets()" *ngIf="editTable"> {{updateBtn}} </button>
        <button  [disabled]="!assetsForm.valid" class="btn btn-success" (click)="addAssets()" *ngIf="addTable"> {{addBtn}} </button>
        <button class="btn btn-secondary m-1" (click)="backToTable('showTable')" >Close </button>
      </div>
    </form>
  </div>
  <!-- END EDIT ASSETS -->
</ng-container>



<ng-container *ngIf="sellTable">
  <!-- EDIT && ADD ASSETS -->
  <div class="mt-5  mx-3 jumbotron" >
    <h3 class="text-center"> Customer Bill </h3>
    <div class="alert alert-primary mt-2 text-center" role="alert" *ngIf="message!==''" > {{message}}</div>
    <form [formGroup]="salesForm">
      <div class="form-group">
        <label for="pid">Product ID</label>
        <input type="text" class="form-control" formControlName="pid1" required readonly>
      </div>
      <div class="form-group">
        <label for="cname">Customer Name</label>
        <input type="text" class="form-control" formControlName="cname1" required>
        <i class="text-danger" *ngIf="cname1?.invalid && cname1?.touched">Please enter valid name</i>
      </div>
      <div class="form-group">
        <label for="caddress">Customer Address</label>
        <input type="text" class="form-control" formControlName="caddress1" required>
        <i class="text-danger" *ngIf="caddress1?.invalid && caddress1?.touched">Please enter valid address</i>
      </div>
      <div class="form-group">
        <label for="pname"> Product Name</label>
        <input type="text" class="form-control" formControlName="pname1" required readonly>
        <i class="text-danger" *ngIf="pname1?.invalid && pname1?.touched">Please enter valid product name</i>
      </div>
      <div class="form-group">
        <label for="pava">Available</label>
        <input type="text" class="form-control" formControlName="pava1" required readonly>
        <i class="text-danger" *ngIf="pava1?.invalid && pava1?.touched">Please enter valid items available numbers</i>
      </div>
      <div class="form-group">
        <label for="ptotal">Quantity</label>
        <input type="text" class="form-control" formControlName="pquantity1" (keyup)="salesPrice()" required>
        <i class="text-danger" *ngIf="pquantity1?.invalid && pquantity1?.touched">Please enter valid product quantity number</i>
        <i class="text-warning" *ngIf="alert!==''"> <br> {{alert}}</i>
      </div>
      <div class="form-group">
        <label for="poriginalcost">Price Each </label>
        <input type="text" class="form-control" formControlName="psellingcost1" required readonly>
        <i class="text-danger" *ngIf="psellingcost1?.invalid && psellingcost1?.touched">Please enter valid price item </i>
      </div>
      <div class="form-group">
        <label for="pava">Total Price</label>
        <input type="text" class="form-control" formControlName="totalcost1" required readonly>
        <i class="text-danger" *ngIf="totalcost1?.invalid && totalcost1?.touched">Please enter valid total cost amount</i>
      </div>
      <!-- <div class="form-group">
        <label for="pdop">DOP</label>
        <input type="date" class="form-control" formControlName="pdop1" required readonly>
        <i class="text-danger" *ngIf="pdop1?.invalid && pdop1?.touched">Please enter valid product date</i>
      </div> -->
      <div class="text-center">
        <button  [disabled]="!salesForm.valid" class="btn btn-warning" (click)="saleAssets()"> {{sellBtn}} </button>
        <button class="btn btn-secondary m-1" (click)="backToTable('showTable')" >Close </button>
      </div>
    </form>
  </div>
  <!-- END EDIT ASSETS -->
</ng-container>

