<!-- Start Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark pl-5 fixed-top">
    <a href="index.php" class="navbar-brand">OSMS</a>
    <span class="navbar-text">Customer's Happiness is our Aim</span>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myMenu">
      <ul class="navbar-nav pl-5 custom-nav">
        <li class="nav-item"><a routerLink="home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="home/#Services" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="home/#registration" class="nav-link">Registration</a></li>
        <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="home#Contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </nav> <!-- End Navigation -->

  <!-- Start Header Jumbotron-->
  <header class="jumbotron back-image" style="background-image: url(assets/images/Banner1.jpeg);">
    <div class="myclass mainHeading">
      <h1 class="text-uppercase text-dark font-weight-bold">Welcome to OSMS</h1>
      <p class="font-italic">Customer's Happiness is our Aim</p>
      <a routerLink="/login" class="btn btn-success mr-4">Login</a>
      <a routerLink="home/#registration" class="btn btn-primary mr-4">Sign Up</a>
    </div>
  </header> <!-- End Header Jumbotron -->

  <div class="container">
    <!--Introduction Section-->
    <div class="jumbotron">
      <h3 class="text-center">OSMS Services</h3>
      <p>
        OSMS Services is India’s leading chain of multi-brand Electronics and Electrical service
        workshops offering
        wide array of services. We focus on enhancing your uses experience by offering world-class
        Electronic
        Appliances maintenance services. Our sole mission is “To provide Electronic Appliances care
        services to
        keep the devices fit and healthy and customers happy and smiling”.

        With well-equipped Electronic Appliances service centres and fully trained mechanics, we
        provide quality
        services with excellent packages that are designed to offer you great savings.

        Our state-of-art workshops are conveniently located in many cities across the country. Now you
        can book
        your service online by doing Registration.
      </p>

    </div>
  </div>
  <!--Introduction Section End-->
  <!-- Start Services -->
  <div class="container text-center border-bottom" id="Services">
    <h2>Our Services</h2>
    <div class="row mt-4">
      <div class="col-sm-4 mb-4">
        <a href="#"><i class="fas fa-tv fa-8x text-success"></i></a>
        <h4 class="mt-4">Electronic Appliances</h4>
      </div>
      <div class="col-sm-4 mb-4">
        <a href="#"><i class="fas fa-sliders-h fa-8x text-primary"></i></a>
        <h4 class="mt-4">Preventive Maintenance</h4>
      </div>
      <div class="col-sm-4 mb-4">
        <a href="#"><i class="fas fa-cogs fa-8x text-info"></i></a>
        <h4 class="mt-4">Fault Repair</h4>
      </div>
    </div>
  </div> <!-- End Services -->

  <!-- Start Registration  -->
  <div class="container pt-5" id="registration" *ngIf="!verifyEmailForm">
    <h2 class="text-center">Create an Account</h2>
    <div class="row mt-4 mb-4">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="userForm" class="shadow-lg p-4" novalidate (ngSubmit)="sentOTP()">
          <div class="d-flex justify-content-center">
            <span class="alert alert-info text-center" *ngIf="message!==''"> {{message}}</span>
          </div>
          <div class="form-group">
            <i class="fas fa-user"></i><label for="name" class="pl-2 font-weight-bold">Name</label>
            <input type="text"
              class="form-control" placeholder="Name" formControlName="name" required>
              <i class="invaild-feedback text-danger" *ngIf="name?.invalid && name?.touched" >Please  enter valid name <br></i> 
          </div>
          <div class="form-group">
            <i class="fas fa-envelope"></i><label for="email" class="pl-2 font-weight-bold">Email</label>
            <input type="email"
              class="form-control" placeholder="Email" formControlName="email" required>
            <!--Add text-white below if want te0xt color white-->
            <small class="form-text">We'll never share your email with anyone else.</small>
            <i class="invaild-feedback text-danger" *ngIf="email?.invalid && email?.touched" >Please  enter valid email <br></i> 
          </div>
          <div class="form-group">
            <i class="fas fa-key"></i><label for="pass" class="pl-2 font-weight-bold">New
              Password</label>
              <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
              <i class="invaild-feedback text-danger" *ngIf="password?.invalid && password?.touched" >Please  enter valid password <br></i> 
          </div>
          <button type="submit" [disabled]="userForm.invalid" class="btn btn-success mt-5 btn-block shadow-sm font-weight-bold">{{registrationBtn}} </button>
          <em style="font-size:10px;">Note - By clicking Sign Up, you agree to our Terms, Data
            Policy and Cookie Policy.</em>
        </form>
      </div>
    </div>
  </div>
  <!-- Verify Email -->
  <div class="container pt-5" id="registration"*ngIf="verifyEmailForm">
    <h2 class="text-center">Verify Your Email</h2>
    <div class="row mt-4 mb-4">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="verifyUserForm" (ngSubmit)="newUser()" class="shadow-lg p-4" method="POST">
          <div class="d-flex justify-content-center">
            <span class="alert alert-info text-center" *ngIf="message!==''"> {{message}}</span>
          </div>
          <div class="form-group">
            <i class="fas fa-envelope"></i><label for="email" value=  "sajid@gmail.com" class="pl-2 font-weight-bold" readonly>Email</label><input type="email"
              class="form-control" placeholder="Email" formControlName="email"  readonly required>
          </div>
          <div class="form-group">
            <i class="invaild-feedback text-danger" *ngIf="OTP?.invalid && OTP?.touched" >Please  enter valid OTP <br></i> 
            <i class="fas fa-key"></i><label for="pass" class="pl-2 font-weight-bold"> Enter OTP</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="OTP">
            <small class="form-text text-success">We've sent an OTP in your email - {{userEmail}}</small>
          </div>
          <button type="submit" [disabled]="!verifyUserForm.valid"  class="btn btn-warning mt-5 btn-block shadow-sm font-weight-bold"> {{registrationBtn1}} </button>
        </form>
      </div>
    </div>
  </div>
  <!-- End Email -->
  
  <!-- End Registration  -->

  <!-- Start Happy Customer  -->
  <div class="jumbotron bg-dark" id="Customer">
    <!-- Start Happy Customer Jumbotron -->
    <div class="container">
      <!-- Start Customer Container -->
      <h2 class="text-center text-white">Happy Customers</h2>
      <div class="row mt-5">
        <div class="col-lg-3 col-sm-6">
          <!-- Start Customer 1st Column-->
          <div class="card shadow-lg mb-2">
            <div class="card-body text-center">
              <img src="assets/images/avtar1.jpeg" class="img-fluid" style="border-radius: 100px;">
              <h4 class="card-title">Rahul Kumar</h4>
              <p class="card-text">Itaque illo explicabo voluptatum, saepe libero rerum, ad
                ducimus voluptas
                nesciunt debitis numquam.</p>
            </div>
          </div>
        </div> <!-- End Customer 1st Column-->

        <div class="col-lg-3 col-sm-6">
          <!-- Start Customer 2nd Column-->
          <div class="card shadow-lg mb-2">
            <div class="card-body text-center">
              <img src="assets/images/avtar2.jpeg" class="img-fluid" style="border-radius: 100px;">
              <h4 class="card-title">Sonam Sharma</h4>
              <p class="card-text">Itaque illo explicabo voluptatum, saepe libero rerum, ad
                ducimus voluptas
                nesciunt debitis numquam.</p>
            </div>
          </div>
        </div> <!-- End Customer 2nd Column-->

        <div class="col-lg-3 col-sm-6">
          <!-- Start Customer 3rd Column-->
          <div class="card shadow-lg mb-2">
            <div class="card-body text-center">
              <img src="assets/images/avtar3.jpeg" class="img-fluid" style="border-radius: 100px;">
              <h4 class="card-title">Sumit Vyas</h4>
              <p class="card-text">Itaque illo explicabo voluptatum, saepe libero rerum, ad
                ducimus voluptas
                nesciunt debitis numquam.</p>
            </div>
          </div>
        </div> <!-- End Customer 3rd Column-->

        <div class="col-lg-3 col-sm-6">
          <!-- Start Customer 4th Column-->
          <div class="card shadow-lg mb-2">
            <div class="card-body text-center">
              <img src="assets/images/avtar4.jpeg" class="img-fluid" style="border-radius: 100px;">
              <h4 class="card-title">Jyoti Sinha</h4>
              <p class="card-text">Itaque illo explicabo voluptatum, saepe libero rerum, ad
                ducimus voluptas
                nesciunt debitis numquam.</p>
            </div>
          </div>
        </div> <!-- End Customer 4th Column-->
      </div> <!-- End Customer Row-->
    </div> <!-- End Customer Container -->
  </div> <!-- End Customer Jumbotron -->

  <!--Start Contact Us-->
  <div class="container" id="Contact">
    <!--Start Contact Us Container-->
    <h2 class="text-center mb-4">Contact US</h2> <!-- Contact Us Heading -->
    <div class="row">

      <!--Start Contact Us Row-->
    <div class="col-md-8">
        <!--Start Contact Us 1st Column-->
        <form  [formGroup]="contactForm" (ngSubmit)="contactFormSubmit()">
        <input type="text" class="form-control" formControlName="cname" placeholder="Name"><br>
        <!-- <i class="invaild-feedback text-danger" *ngIf="cname?.invalid && name?.touched" >Please  enter valid name <br></i>  -->
        <input type="text" class="form-control" formControlName="subject" placeholder="Subject"><br>
        <!-- <i class="invaild-feedback text-danger" *ngIf="subject?.invalid && subject?.touched" >Please  enter valid subject <br></i>  -->
        <input type="email" class="form-control" formControlName="cemail" placeholder="E-mail"><br>
        <!-- <i class="invaild-feedback text-danger" *ngIf="cemail?.invalid && name?.touched" >Please  enter valid email <br></i>  -->
        <textarea class="form-control" formControlName="body" placeholder="How can we help you?" style="height:150px;"></textarea><br>
        <!-- <i class="invaild-feedback text-danger" *ngIf="body?.invalid && body?.touched" >Please  enter valid message<br></i>  -->
        <div class="alert alert-success col-sm-6 text-center" role="alert" *ngIf="cmessage!==''">{{cmessage}} </div>
        <button [disabled]="contactForm.invalid" class="btn btn-primary" type="submit" name="submit"> {{contactBtn}} </button><br><br>
        </form>
   </div>
      <!-- End Contact Us 1st Column -->

      <div class="col-md-4 text-center">
        <!-- Start Contact Us 2nd Column-->
        <strong>Headquarter:</strong> <br>
        OSMS Pvt Ltd, <br>
        Sec IV, Bokaro <br>
        Jharkhand - 834005 <br>
        Phone: +00000000 <br>
        <a href="#" target="_blank">www.osms.com</a> <br>

        <br><br>
        <strong>Delhi Branch:</strong> <br>
        OSMS Pvt Ltd, <br>
        Ashok Nagar, Delhi <br>
        Delhi - 804002 <br>
        Phone: +00000000 <br>
        <a href="#" target="_blank">www.osms.com</a> <br>
      </div> <!-- End Contact Us 2nd Column-->
    </div> <!-- End Contact Us Row-->
  </div> <!-- End Contact Us Container-->
  <!-- End Contact Us -->

  <!-- Start Footer-->
  <footer class="container-fluid bg-dark text-white mt-5" style="border-top: 3px solid #DC3545;">
    <div class="container">
      <!-- Start Footer Container -->
      <div class="row py-3">
        <!-- Start Footer Row -->
        <div class="col-md-6">
          <!-- Start Footer 1st Column -->
          <span class="pr-2">Follow Us: </span>
          <a href="#" target="_blank" class="pr-2 fi-color"><i class="fab fa-facebook-f"></i></a>
          <a href="#" target="_blank" class="pr-2 fi-color"><i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank" class="pr-2 fi-color"><i class="fab fa-youtube"></i></a>
          <a href="#" target="_blank" class="pr-2 fi-color"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" target="_blank" class="pr-2 fi-color"><i class="fas fa-rss"></i></a>
        </div> <!-- End Footer 1st Column -->

        <div class="col-md-6 text-right">
          <!-- Start Footer 2nd Column -->
          <small> Designed by Someone &copy; 2018.
          </small>
          <small class="ml-2"><a routerLink="/author">Admin Login</a></small>
        </div> <!-- End Footer 2nd Column -->
      </div> <!-- End Footer Row -->
    </div> <!-- End Footer Container -->
  </footer> <!-- End Footer -->